*{ 
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	font-family: sans-serif;
} 
body{
	width: 100%;
	min-height: 100vh;
}
header{
	width: 100%; 
	height: 100vh; 
	background: url("tour9.jpg");
	background-position: center;
	background-size:cover;
	background-repeat: no-repeat;
	position: relative;
	padding-top: 20px;
	
} 
.container{
	width: 90%;
	height: 60px; 
	background: white; 
	margin: 0 auto;
	padding: 0 30px; 
	border-radius: 30px;
	border: 1px solid green; 
	display: flex;
	align-items: center;
	justify-content: space-between;
} 
.nav-list li{
	display: inline; 
	margin-right: 25px; 
	font-size: 15px;
	font-weight: 70
}
.nav-list{ 
	display: none; 
}
.menu-icon{ 
	font-size: 24px;
	font-weight: 700;
} 
.logo{ 
	font-size: 24px; 
 } 
	.content_wrapper {
	position: absolute; 
	width: 100%;
	top: 25%; 
	display: flex;
	align-items: center; 
	justify-content: center;
	flex-direction: column;
	color: orange;
	padding: 0 20px; 
	margin: 0 auto;
	
}
.content_wrapper h1{ 
	font-size: 24px; 
	font-weight: 700;
}

form{
	position: absolute;
	bottom: 0;
	background: linear-gradient(to right, yellow, blue);
	width: 100%;
	display: flex; 
	flex-wrap: wrap;
	gap: 20px;
	align-items: center;
	justify-content: left;
	padding: 30px; 
}
.search-item{
	display: flex; 
	align-items: center;
	justify-content: center;
	flex-direction: colum;
}
.search-item div{
	color: white;
	font-weight: 600;
	text-transform: uppercase; 
	font-size: 13px; 
	margin-bottom: 10px;
}
.search-item input{
	height: 40px;
	width: 100%;
	padding: 0 20px; 
	border: 0;
	outline: 0;
	color: #5a5959; 
} 
.search_btn{
	height: 50px; 
	padding: 0 46px; 
	border-radius: 30px; 
	border: 0;
	outline: 0; 
	background: red; 
	color: white; 
	font-size: 14px; 
	text-transform: uppercase; 
	font-weight: 600; 
	margin-top: 30px; 
	cursor: pointer;
}

.services{ 
	padding: 100px 0;
	background: white; 
} 
.services h3{
	color: red; 
	text-align: center; 
	font-size: 14px; 
	font-weight: 600;
	margin-bottom: 10px;
}
.services h1{
	text-align: center;
	font-size: 45px;
	font-weight: 600;
	margin-bottom: 30px; 
}
.services .row{
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
} 
.services .row .col{
	background: linear-gradient(to top, #9e77f2, white); 
	padding: 40px;
	text-align: center;
	margin: 30px 20px;
}
.services .row .col h2{
	font-size: 0Px; 
	margin: 20px; 
	font-weight: 700; 
 } 
.destination{ 
		background: white;
		margin: 30px 10px; 
		padding-bottom: 30px ; 
		border: 1px solid #dadce8; 
 } 
 .destination-card img{ 
	 width: 300px; 
	 height: 300px;
}

 .destination-card h2{ 
	margin: 20px 10px 0;
} 
.destination-card p{ 
	margin: 10px 10px 20px;
}

 .destination-card a{ 
	margin: 10px 10px 20px; 
	text-decoration: none;
	background: black;
	color: white;
	padding: 6px 20px;  
	font-weight: 600;
}
footer{ 
	background-color: orange;
	padding: 20px 0;
	
} 
footer p{
	text-align: center;
} 

@media only screen and (min-width: 768px){ 
	.nav-list{ 
		display: block;
	}
	.menu-icon{
		display: none;
	}
}